* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #291f1a;
}

/* HELPERS */

.green {
    color: #1ac056;
    font-weight: bold;
}

.clear {
    clear: both;
}

section {
    padding: 30px 50px;
}


                                        /*.header ZROBIĆ TU PADDING DO ODNOSNIKOW, OGARNĄĆ CZY NIE ROZPIERDALA TO STRONY */
.header {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding: 30px;
    letter-spacing: 1px;
}

/* NAVIGATION */

#menu {
    background-color: #fff;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    left: 0;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

#menu ul > li {
    display: inline-block;
    line-height: 60px;
    margin: 0 20px;
}

#menu a {
    text-decoration: none;
    color: #1ac056;
    transition: all 0.4s;
}

#menu ul > li a:hover {
    color: #222;
}

/* HEADER */

#main-header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

#inner-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: 100;
    margin: 0;
}

#inner-header h2 {
    color: #fff;
    font-weight: 100;
    margin: 0;
    font-size: 40px;
}

/* ABOUT */

#about {
    text-align: center;
    background-color: #f9fcfe;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
}

#about figure,
#about article {
    margin: 0;
    display: inline-block;
                                        /* PO NADANIU WARTOSCI IN-LINE BLOCK OBRAZKI ZACHOWUJA SIE JAK TEKST I MOZNA JE WYSRODKOWAC ZA POMOCA TEXT ALIGNE CENTER */
    width: 50%;
    float: left;
}

#about figure img {
    width: 50%;
}

#about article p {
    text-align: left;
}

/* SKILLE */

#skills {
    background-color: #fff;
    position: relative;
    z-index: -2;
}

#skills p {
    margin: 0 auto;
}

#language {
    width: 100%;
    text-align: center;
}

.icon {
    display: inline-block;
    margin: 30px auto;

}

/* PORTFOLIO */

#album {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.project {
    display: inline-block;
    height: 300px;
    width: 30%;
    background-position: center;
    background-size: cover;
    margin: -2px;
}

#p1 {
    background-image: url("../img/portfolio1.jpg");
}

#p2 {
    background-image: url("../img/portfolio2.jpg");
}

#p3 {
    background-image: url("../img/portfolio4.jpg");
}

/* CONTACT */

#contact {
    background-color: #213b50;
    color: #fff;
}

#contact h2 {
    text-align: left;
}

#content {
    width: 100%;
}

#personal, #postcard {
    display: inline-block;
    width: 50%;
    margin: -1px;
}

#personal {
    padding-left: 30px;
}

    .contact-block {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 100px 20px 0px 0px;
        border: 2px solid #fff;
        position: relative;
    }
    
    .contact-block i {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    

#postcard {
    padding: 0px 60px; 
}

    input, textarea {
        width: 100%;
        padding: 10px 20px;
        margin: 10px;
        background-color: #324c61;
        color: #fff;
        border: 0;
        outline: none;
        float: left;
        border-radius: 2px;
    }

    input:focus, textarea:focus {
        background-color: #4e708c;
        border: 1px solid #1ac056;
    }

    input[type="submit"] {
        width: 30%;
        line-height: 40px;
        float: right;
        background-color: #1ac056;
        color: #fff;
        text-transform: uppercase;
        border: 0;
        outline: 0;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
        padding: 0;
    }

/* FOOTER */

footer {
    background-color: #102a40;
    color: #fff;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
}











